<div class="d-flex justify-content-center align-content-center card mb-3" style="max-width: 768px;">
    <div class="row g-0" *ngFor="let user of users">
        <div class="col-md-4">
            <img src="{{user.image}}" width="150px" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{user.firstName}} {{user.lastName}}</h5>
                <p class="card-text">{{user.title}}</p>
                <p class="card-text">
                    <span *ngFor="let task of userTasksMap.get(user.id)">
                        {{ task.todo }}
                        <br>
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>