html, body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    
}
/*Header*/
header {
    width: 100%;
    padding-left: 10px;
    background-color: #FFC017;
    height: 80px;
    border-bottom: 1px solid black;
    position: fixed;
    top: 0;
    z-index: 2;
}

.header {
    display: flex;
    justify-content: space-around;

}

.img {
    display: flex;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu div {
    padding: 15px;
    cursor: pointer;
}

.menu .pulsante {
    width: 130px;
}

.pulsante1 {
    display: flex;
    padding: 0;
    color: white;
    background-color: black;
    border-radius: 70px;
    width: 90px;
    height: 15px;
    text-align: center;
    justify-content: center;
}

.pulsante1 p {
    margin: 0;
}

/*Main*/
main {
    height: 600px;
}

.main {
    padding-top: 60px;
    display: flex;
    padding-left: 80px;
    background-color: #FFC017;
    height: 400px;
    justify-content: end;
    border-bottom: 1px solid black;
    
}

.titolo {
    width: 90%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

h1 {
    margin: 0;
    font-family: "Spectral", serif;
  font-size: 5em;
  font-weight: 400;
  font-style: normal;
}

.main p {
    margin: 0;
    font-size: 1.3em;
    width: 45%;
}

.pulsante2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    color: white;
    background-color: black;
    border-radius: 70px;
    width: 150px;
    height: 50px;
    
}

.pulsante1 h4 {
    margin: 0;
}


.emme {
    width: 50%;
}

/*Section*/
section {
    margin: 0 80px;
}

.citazione {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.number {
    font-size: 1.8rem;
    font-weight: 700;
    opacity: 0.1;
    margin-top: 10px;
}

.preArticoli {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex {
    display: flex;
    width: 33%;
    
}

blockquote {
    margin-left: 10px;
    font-weight: bold;
    font-size: 0.8em;
}

blockquote p {
    font-weight: 300;
    color: gray;
}

.trending {
    display: flex;
    flex-direction: column;
}

.star {
    display: flex;
}

.trending .star img {
    width: 6%;
}

.trendingImg {
    margin-top: 15px;
    float: left;
}

.trending h5 {
    text-transform: uppercase;
    margin-bottom: 0;
} 

.preArticoli img {
    width: 15%;
    border-radius: 50%;
}


.preArticoli .quadrate {
    width: 12%;
    border-radius: 10px;
}

/*Section seconda*/

.secondaParte {
    display: flex;
    flex-direction: row;

}

.column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 850px;
}

.articoliDue {
    display: flex;
    flex-direction: column;
}

.fotoArticoli {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 140px;
}

.fotoArticoli img {
    margin-top: 30px;
    width: 200px;
    height: 140px;

}

/* .articoli img {
    width: 15%;
    border-radius: 50%;
}


.articoli .quadrate {
    width: 8%;
    border-radius: 10px;
} */

blockquote span {
    background-color: #e2dfdfde;
    padding: 0 10px;
    font-size: 10px;
    border-radius: 30px;
}

/*Aside e Footer*/
#aside {
    width: 450px;
    height: max-content;
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    margin-top: 30px;
    position: sticky;
    top: 80px;
    z-index: 1;
}

#primaParte {
    margin-left: 10px;
    text-transform: uppercase;
}

#secondaParte {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
    border-bottom: 1px solid black;
}

#secondaParte span {
    padding: 10px 18px 10px 18px;
    margin: 5px 10px 5px 10px;
    background-color: rgb(240, 240, 240);
    border-radius: 30px;
    font-weight: 300;
    color: rgb(109, 109, 109);
}

#terzaParte {
    width: 400px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    
}

#terzaParte p {
    margin: 15px 15px 15px 15px;
    font-weight: 300;
    color: gray;
}