/* Your styles here */
body {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

/* HEADER */
.pretesta {
    background-color: black;
    display: block;

}

.logo {
    width: 150px;
    align-items: center;
    padding: 1.65rem;

}

.testa {

    padding: 30px;
    text-align: center;
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;


}

h1,
h2,
h3,
h4 {
    font-family: 'Montserrat Bold', sans-serif;
    color: #25a2c3;
}

.testa h1 {
    color: #25a2c3;
    font-size: 45px;
}

.testa p {
    font-size: 30px;
}

/* Button Head */
#button {
    background-color: #f04c2f;
    border-radius: 5px 5px;
    padding: 10px;
    width: 100px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;


}

/*Main*/


p {
    font-size: 20px;
}

h3 {
    color: #25a2c3;
    font-size: 30px;
    text-align: center;

}

.divuno p {
    text-align: center;
    font-size: 20px;

}

.divdue p {
    text-align: center;
    font-size: 20px;

}

.divtre {
    margin: 0px;
    color: white;
    padding: 30px;
    text-align: center;
    background-color: #e22d0e;
    font-weight: bold;
}

.divtre h3 {
    color: white;
}

.divquattro {
    margin: 20px;
    text-align: center;
    width: 90%;
    margin-top: 40px;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 5px;

}

.notebook {
    margin: 20px;
    border-radius: 50%;
}

.img {
    object-fit: contain;
    width: 100%;
}

/*footer*/
#foot {
    margin: 0;
    color: white;
    padding: 30px;
    text-align: center;
    background-color: #25a2c3ed;
}

#foot h3 {
    color: white;
}

footer a:link,
a:visited {
    color: white;


}

Hr {
    Margin-left: 30%;
    Margin-right: 30%;
}