.clOpacity {
    background-color: rgba(172, 255, 47, 0.397);
    cursor: pointer;
}

.clOpacity:hover {
    background-color: rgb(153, 250, 7);
}

.clOpacity2 {
    background-color: rgba(255, 62, 62, 0.479);
    cursor: pointer;
}

.clOpacity2:hover {
    background-color: rgb(228, 72, 72);
}
