<footer class="footer" *ngIf="user">
  <div class="container">
   <div class="row">
     <div class="footer-col">
       <h4>La nostra azienda</h4>
       <ul>
         <li><a href="#">Di noi</a></li>
         <li><a href="#">I nostri servizi</a></li>
         <li><a href="#">Privacy policy</a></li>
         <li><a href="#">Programma di affiliazione</a></li>
       </ul>
     </div>
     <div class="footer-col">
       <h4>Get help</h4>
       <ul>
         <li><a href="#">FAQ</a></li>
         <li><a href="#">Audio Descrizioni</a></li>
         <li><a href="#">Sottotitoli</a></li>
         <li><a href="#">Note Legali</a></li>
       </ul>
     </div>
     <div class="footer-col">
       <h4>Tutto</h4>
       <ul>
         <li><a [routerLink]="['/film']" routerLinkActive="active" routerLinkActive="router-link-active">Film</a></li>
         <li><a [routerLink]="['/profile']" routerLinkActive="active">Profilo</a></li>
         <li><a [routerLink]="['/users']" routerLinkActive="active">Users</a></li>
       </ul>
     </div>
     <div class="footer-col">
       <h4>Seguici</h4>
       <div class="social-links">
         <a href="#"><i class="bi bi-facebook"></i></a>
         <a href="#"><i class="bi bi-twitter"></i></a>
         <a href="#"><i class="bi bi-instagram"></i></a>
         <a href="#"><i class="bi bi-linkedin"></i></a>
       </div>
     </div>
   </div>
  </div>
</footer>
