<div class="d-flex justify-content-center align-items-center h-100">
    <div class="row mt-4">
      <div>
        <h1 class="mb-3">Benvenuti su Carsellers</h1>
        <h4 class="mb-3">Non vendiamo auto, vendiamo sogni. </h4>
      </div>
    </div>
  </div>
  <!-- <div class="p-5 text-center bg-image rounded-3" style="
    background-image: url('assets/logo.png');
    height: 400px;
  ">
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">Benvenuti su Carsellers</h1>
        <h4 class="mb-3">Non vendiamo auto, ma sogni. </h4>
        <a class="btn btn-outline-light btn-lg" href="#!" role="button">Acquista subito.</a>
      </div>
    </div>
  </div>
</div> -->
  <app-home-uno></app-home-uno>
  <app-home-due></app-home-due>