<div class="row bg-black d-flex align-items-center justify-content-between">
    <div class="col-4">
      <div class="w-50">
        <img src="assets/logo.png" class="w-50" alt="Immagine Logo">
      </div>
      <div class="text-white">
        <p class="text-uppercase">Il tuo autosalone di fiducia</p>
        <p>Via delle auto 69</p>
        <p>Napoli</p>
        <p>0812345678</p>
        <p>info@carsellers.it</p>
      </div>
    </div>
    <div class="col-4">
      <div class="d-flex text-white">
        <p class="border-end p-3 text-uppercase"><a [routerLink]="['']" routerLinkActive="active">Home</a></p>
        <p class="border-end p-3 text-uppercase"><a  [routerLink]="['/fiat']" routerLinkActive="active">Fiat</a></p>
        <p class="border-end p-3 text-uppercase"><a [routerLink]="['/ford']" routerLinkActive="active">Ford</a></p>
        <p class="p-3 text-uppercase"><a [routerLink]="['/audi']" routerLinkActive="active">Audi</a></p>
      </div>

    </div>
    <div class="col-4 text-white">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum sequi fugit nihil officiis doloremque
        voluptatibus blanditiis iste dolores repudiandae magni, obcaecati est officia eius nam similique eaque
        dignissimos porro voluptas. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur tempora
        eligendi eius nam commodi aspernatur autem a delectus, asperiores officia mollitia porro aut est perspiciatis?
        Corrupti repudiandae sunt ex reprehenderit?</p>
    </div>
  </div>