body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
    height: 100vh;
    margin: 0;
    line-height: 1.2em;

}
 li {
    list-style: none;
 }

 h1 {
    text-size-adjust: bold;
 }